main{
    max-width: 80rem;
}

.container{
    display: flex;
    flex-direction: column;
}

.configuracion{
    align-items: center;
    padding: 20px;
}

.configuracion i{
    font-size: 3rem;
    color: #3b89ff;
}

.boton:hover{
    background: #3b89ff;
    color: #FFF;
}
.boton:hover i {
    color: #fff;
}
.boton:hover p {
    color: #fff;
}
.return:hover i {
    color: #7f63f1;
}
.return:hover p {
    color: #7f63f1;
}

.boton p{
    margin: 0;
}

.blue-border-radius {
    border: 1px solid #3b89ff !important;
    border-radius: 0.3rem;
  }