* {
    font-family: "Almarai";
    font-weight: 700;
    margin: 0px;
    font-size: 16px;
    color: black;
}

body{
    background: #D5D8DC !important;
}

/****** Tipos de letra ******/
.titulo {
    font-family: "Almarai";
    font-weight: 700;
    margin: 0px;
    font-size: 32px;
    color: #FFF;
}

.subtitulo {
    font-family: "Almarai";
    font-weight: 700;
    font-size: 24px;
    color: #5e76f8;
}

.normal {
    font-family: "Almarai";
    font-weight: 700;
    margin: 0px;
    font-size: 16px;
    color: #FFF;
}

.descripcion {
    font-family: "Almarai";
    font-weight: 300;
    margin: 0px;
    font-size: 12px;
    color: #FFF;
}

/****** Header ******/
header{
    background: rgb(59,137,255);
    background: linear-gradient(90deg, rgba(59,137,255,1) 31%, rgba(127,99,241,1) 76%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

/****** Mis categorias ******/
.mis_categorias {
    margin: 20px 0px;
    padding: 20px;
}

.fecha{
    display: flex;
    align-items: center;
}
.fecha p{
    margin-right: 15px;
    margin-bottom: 0px;
}

.categorias{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.blue-border {
    border: 1px solid #3b89ff !important;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
  }

.blue-color {
    background: #3b89ff
}

/****** Tarjetas ******/
.border-degraded {
    border: 1px solid #7f63f1 !important;
    border-top: 0px !important;
    border-left: solid #3b89ff !important;
    border-bottom: solid #5e76f8 !important;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
  }

.main-color-degraded {
    background: rgb(59,137,255) !important;
    background: linear-gradient(90deg, rgba(59,137,255,1) 31%, rgba(127,99,241,1) 76%) !important;
}

.button-account {
    border-radius: 50%;
    padding: 0.60rem;
    width: auto;
}

.button-account:hover {
    background: #D9D9D9;
}

.card-80-percent {
    width: 80%;
    margin: auto;
}

.space-below-form {
    padding-top: 20px; /* Ajusta el valor según tus necesidades */
}
